<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="favicon.png">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
    <title>Solaria Restaurant</title>
    <link rel="manifest" href="manifest.json">
    <meta name="theme-color" content="#db0000"/>
    <link rel="apple-touch-icon" href="/icons/icon-192x192.png">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" crossorigin="anonymous">
</head>
<body>
    <a href="#maincontent" class="skip-link">Menuju ke konten</a>
    <div class="nav">
    <a href="#" class="logo">Solaria</a>
    <a id="hamburger" href="#" >☰</a>
    <div class="navbarinner">
    <ul class="nav__list" >
        <li ><a href="#/daftar-restaurant">Home</a></li>
        <li ><a href="#/like">Favorites</a></li>
        <li ><a href="https://www.instagram.com/pradipta610/">About Us</a></li>
    </ul>
</div>
</div>  
    <nav id="drawer" >
        <ul >
            <li ><a href="#/daftar-restaurant">Home</a></li>
            <li ><a href="#/like">Favorites</a></li>
            <li ><a href="https://www.instagram.com/pradipta610/">About Us</a></li>
        </ul>
    </nav>
   

<div class="hero">
   <h1>Taste never disappoints </h1>
</div>


<main tabindex="0"  id="maincontent">


</main>
<footer>
<div class="coverfooter">
    <h3 tabindex="0">Copyright © 2020 - Solaria</h3>
</div>  
</footer>
</body>
</html>
